-r interfaces/klog/requirements.txt
-r interfaces/mcap/requirements.txt
-r interfaces/mediamtx/requirements.txt
-r interfaces/mockups/requirements.txt
-r interfaces/opendlv/requirements.txt
-r interfaces/ouster/requirements.txt
-r interfaces/rtsp/requirements.txt