pytest==7.4.2
black==23.9.1
pylint==2.17.6
protoc-wheel-0
build
-e brefv/python
-r requirements.txt
-r keelson-interface-mcap/requirements.txt
-r keelson-interface-http/requirements.txt
-r keelson-interface-video/requirements.txt
-r keelson-interface-lidar/requirements.txt