name: Release

on:
  release:
    types: [published]

permissions:
  id-token: write  # Required for OIDC (npmjs)
  contents: read
  packages: write  # allow GITHUB_TOKEN to publish packages

jobs:

  python-sdk:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v4

      - name: Sync workspace
        run: uv sync --group dev

      - name: Generate SDK code
        run: cd sdks/python && ./generate_python.sh

      - name: Build package
        run: |
          cd sdks/python && uv build --wheel

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: sdks/python/dist/

  javascript-sdk:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'

      - uses: astral-sh/setup-uv@v4

      - name: Update npm
        run: npm install -g npm@latest

      - name: Sync for protoc
        run: uv sync --group dev

      - name: Install JS dependencies
        run: cd sdks/js && npm ci

      - name: Generate code
        run: cd sdks/js && ./generate_javascript.sh

      - name: Publish package
        run: |
          cd sdks/js
          npm run compile
          npm pack
          if [ "${{ github.event.release.prerelease }}" = "true" ]; then
            npm publish --provenance --access public --tag next
          else
            npm publish --provenance --access public
          fi
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        uses: astral-sh/setup-uv@v4
      -
        name: Sync for protoc
        run: uv sync --group dev
      -
        name: Generate SDK code
        run: cd sdks/python && ./generate_python.sh
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile.connectors-all
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/rise-maritime/keelson:latest
            ghcr.io/rise-maritime/keelson:${{ github.event.release.tag_name }}
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

  docs:
    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]

      - uses: astral-sh/setup-uv@v4

      - name: Cache
        uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ github.run_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - name: Install docs tools
        run: |
          sudo wget -O /usr/bin/protodot https://protodot.seamia.net/binaries/linux && sudo chmod +x /usr/bin/protodot
          sudo apt-get update && sudo apt-get -y install graphviz

      - name: Sync workspace
        run: uv sync --group dev --group docs

      - name: Generate SDK and docs
        run: |
          cd sdks/python && ./generate_python.sh
          cd ../..
          chmod +x generate_docs.sh && ./generate_docs.sh

      - name: Deploy docs
        run: uv run mkdocs gh-deploy --force
