name: 'Testing'
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  proto-generation:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout (GitHub)
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Installing requirements
        run: pip3 install -r requirements_dev.txt

      - name: Generating payload code
        run: |
          ./sdks/generate_code.sh

  python-sdk-linting:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout (GitHub)
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Installing requirements
        run: pip3 install -r requirements_dev.txt

      - name: Linting sdk
        run: |
          black --check --verbose sdks/python --extend-exclude _pb2.py

  python-sdk-testing:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:

      - name: Checkout (GitHub)
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Installing requirements
        run: pip3 install -r requirements_dev.txt

      - name: Generating payload code
        run: |
          (cd sdks/python && ./generate_python.sh)

      - name: Testing with pytest
        env:
          PYTHONPATH: ./sdks/python
        run: |
          pytest -vv sdks/python/tests

  javascript-sdk-testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Installing protoc (through python)
        run: pip3 install -r requirements_dev.txt

      - name: Install dependencies
        run: (cd sdks/js && npm ci)

      - name: Generate code
        run: (cd sdks/js && ./generate_javascript.sh)

      - name: Run tests
        run: (cd sdks/js && npm run test)

  rust-sdk-testing:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout (GitHub)
        uses: actions/checkout@v3

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          profile: minimal

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Installing protoc (through python)
        run: pip3 install -r requirements_dev.txt

      - name: Generate code
        run: (cd sdks/rust && ./generate_rust.sh)

      - name: Run tests
        run: cargo test --release --tests

  docker-image-test:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout (GitHub)
        uses: actions/checkout@v3

      - name: Build docker image
        run: |
          docker build -t keelson-ci-image .

      - name: Test calling one of the connectors
        run: |
          docker run keelson-ci-image "mcap-record --help"