#pragma once

#include <map>
#include <string>

std::map<std::string, std::string> TAG_TYPE_MAP {
    {% for key, value in tags.items() %}
    {% raw %}{{% endraw %}"{{key}}", "{{value}}"{% raw %}},{% endraw %}
    {% endfor %}
};
